*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url('https://images.pexels.com/photos/1461447/pexels-photo-1461447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
}

header button{
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
    margin-right: 13rem;
    border-radius: 6px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.5s;
}

header button:hover{
    background: white;
    color: black;
    border-color: rgba(255, 255, 255, .5);
    transform:scale(1.25);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

/* clase active para habilitar los formularios */

.contenedor-formulario-registro.active{
   position: absolute;
   transform:translateX(0px);
   transition: .5s ease;
}
.contenedor-formulario-login.inactive{
    position: absolute;
    transform:translateX(-500px);
    transition: .5s ease;
 }


 .contenedor-formulario-login.active{
    position: absolute;
    transform:translateX(0px);
    transition: .5s ease;
 }
 .contenedor-formulario-registro.inactive{
     position: absolute;
     transform:translateX(500px);
     transition: .5s ease;
  }

.contenedor-principal.close{
    transform: scale(0);
    transition: .5s ease;
}
.contenedor-principal.open{
    transform: scale(1);
    transition: .5s ease;
}

/* contenedor principal */

.contenedor-principal{
    position: relative;
    width: 30rem;
    height: 35rem;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(148, 143, 143, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
 
.contenedor-boton-cerrar{
   height: 50px;
   width: 50px;
   position: absolute;
   top: -2px;
   right: -2px;
   display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.979);
    border: 2px solid rgba(33, 89, 110, 0.733);
    border-radius: 0 0% 0 50%;
    cursor:pointer;
}

/* formulario del registro */

.contenedor-formulario-registro{
    width: 100%;
    padding: 40px;
    position: absolute;
    transform:translateX(500px);
    transition: none;
}

.contenedor-formulario-registro h1,
.contenedor-formulario-login h1{
    text-align: center;
}

.formulario-cajas{
    display: grid;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.formulario-cajas label{
    position: absolute;
    color: rgb(255, 255, 255);
    padding-top: 0;
    margin-top: 4px;
}

.formulario-cajas input{
  height: 30px;
  margin-top: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding-right: 50px;
}

.formulario-cajas i{
    position: absolute; 
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    padding-left: 23rem;
}

.boton{
    justify-items: center;
    margin-top: 40px;
    background: none;
    width: 10rem;
    height: 2rem;
    margin-left: 30%;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.parte-inferior-formulario{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    bottom: 0;
}
.parte-inferior-formulario a{
    padding-left: 10px;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
}

/* contenedor del login  */

.contenedor-formulario-login{
    width: 100%;
    padding: 40px;
}
.contenedor-checkbox{
    display:grid;
    margin-top: 40px;
}

.contenedor-checkbox a{
    margin-top: 20px;
    text-decoration: none;
    font-weight: 200;
}

@media (max-width: 450px) {
    header button {
        margin-right: 0;
    }
    header {
        justify-content: center;
    }
    .contenedor-principal {
        margin-top: 3rem;
        position: relative;
        width: 20rem;
        height: 32rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .boton{
        margin-left: 19%;
    }
    .parte-inferior-formulario {
    text-align: center;
    }
    .contenedor-boton-cerrar {
        z-index: 1;
    }
}

