*{
    font-family:'Times New Roman', Times, serif;
}
body{
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 230, 250);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 2rem;
}
.iconos i{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    cursor: pointer;     
}
.iconos i:hover{
     scale:1.25;   
}

button{
    height: 2rem;
    width: 8rem;
    border-radius: 8px;
    color: aliceblue;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}

input{
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    color: rgb(85, 85, 85);
    background-color: rgba(134, 134, 134, 0.39);
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    cursor: pointer;
}
label{
    color: rgb(85, 85, 85);  
}

.formActive{
    transform: translateX(-360px);
    transition: 0.5s;
}

.mensajeBorder{
    border-radius: 10px;
}
.inactive{
    display: none;
}



.contenedor-principal{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenedor-formularios{
    background-color: rgb(255, 255, 255);
    width: 45rem;
    height: 450px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 5px 5px 35px 5px #00575e;
}
.contenedor-mensaje{
    background-image: linear-gradient(to bottom, rgb(0, 109, 172),rgb(0, 162, 255));
    border-radius: 0 124px 124px 0;
    height:100%;
    align-self: center;
    transition: 0.5s;
    z-index: 1;
}
.contenedor-mensaje .mensaje{
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    align-items: center;
    justify-items: center; 
    margin: 20px;
}

.contenedor-mensaje .mensaje h1{
    margin-top: 5rem;
    color: aliceblue;
}

.contenedor-mensaje .mensaje h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2rem;
    color:aliceblue;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
}
.contenedor-mensaje .mensaje button{
    border: 1px solid white;
    background-color: transparent;
    margin-top: 3rem;
}
.contenedor-mensaje .mensaje button:hover{
    scale: 1.25;
}
.formularios{
    height: 450px;
    width: 100%;
    transition: 0.5s;
}
.formularios .formulario {
text-align: center;
    
}
.formularios .formulario.formulario-register .boton,
.formularios .formulario.formulario-login .boton{
    background-image: linear-gradient(to bottom, rgb(0, 109, 172),rgb(0, 162, 255));
    margin-top: 1rem;
    justify-self: center;
}

.contenedor-pie-formulario{
display: grid;
margin-top: 3rem;
justify-content: center;
}


.mensajeActive{
    position: relative;
    z-index: 1;
    transform: translateX(360px);
    transition: 0.5s;
    border-radius: 124px 0 0 124px;
}

@media (max-width: 450px){
    /* parte del mensaje contenedor 1 */
    .contenedor-formularios{
        width: 20rem;
         height: 550px;
         display: flex;
         flex-direction: column;
    }
    .contenedor-mensaje{
        height: 10rem;
        width: 100%;
        border-radius: 0 0 124px 124px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-mensaje .mensaje{
        align-content: end;
    }
    .contenedor-mensaje .mensaje .mensaje-cambio{
        display: none;
    }
    .contenedor-mensaje .mensaje button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .contenedor-pie-formulario{
        margin-top: 15px;
    }
        /* mensaje animaciones */

        .mensajeActive{
            position: relative;
            z-index: 1;
            transform: translateY(390px);
            transition: 0.5s;
            border-radius: 124px 124px 0 0;
        }
        /* formulario animaciones */
        .formActive{
            transform: translatey(-170px);
            transition: 0.5s;
        }

}

